body {
    background-color: rgb(205, 67, 187);
    margin: 0;
    color: white;
    text-align: center;
  }

  .modal {
    display: none;
    border: solid 3px grey;
    width: 300px;
    height: 200px;
    background-color: rgb(222, 226, 228);
    color: black;
    font-size: 32px;
    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
  }
 
  table {
   padding-bottom: auto;
    margin: auto;
    width: 30%;
    height: 70%;
    color: black;
   
  }
  td {
    
    border: 3px solid black;
    padding: 30px;
    text-align: center;
    background-color:rgb(122, 48, 105)

   
}
td:hover {
    background-color: lightgray;
}
  .cell {
    width: 30%;
    height: 30%;
    font-size: 1.5em;
    font-size: 50px;
    font-weight: bold;
  }
  .marked {
    background-color: gray;
}
  

button{
  background-color: plum
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(65, 5, 69);
    color: white;
    text-align: center;
  }